{% extends 'AdminCommonBundle::base.html.twig' %}

{% block title %}Edit course {{ course.name }}{% endblock %}

{% form_theme form 'AdminCommonBundle::Forms/fields.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="page-head">
        <h2>Edit course <i>{{ course.name }}</i></h2>
        <ol class="breadcrumb">
            <li><a href="{{ url('admin_course_list') }}">Admin</a></li>
            <li><a href="{{ url('admin_course_list') }}">Courses</a></li>
            <li class="active">{{ course.name }}</li>
        </ol>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-sm-12">
                {% include 'AdminCommonBundle:Common:flashMessages.html.twig' %}

                {% set formAction =
                    course.id
                    ? url('admin_course_update', { id: course.id })
                    : url('admin_course_save')
                %}
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#course" data-toggle="tab" aria-expanded="true">Course</a></li>
                        <li><a href="#lessons" data-toggle="tab" aria-expanded="true">Lessons & Modules</a></li>
                        <li><a href="#users" data-toggle="tab" aria-expanded="true">Users</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="course" class="tab-pane cont active">
                            {{ form_start(form, { action: formAction }) }}
                                {{ form_rest(form) }}
                                <div class="spacer text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                    <a href="{{ url('admin_course_list') }}" class="btn btn-space btn-default">Cancel</a>
                                </div>
                            {{ form_end(form) }}
                        </div>
                        <div id="lessons" class="tab-pane cont">
                            {% include 'AdminCourseBundle:Lesson:list.html.twig' %}
                        </div>
                        <div id="users" class="tab-pane">
                            <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('lib/sortable/sortable.min.js') }}"></script>
    <script>
        var el = document.getElementById('lessons');
        var sortable = Sortable.create(el, {
            onEnd: function (evt) {
                console.log(evt.oldIndex);
                console.log(evt.newIndex);
            }
        });
    </script>
{% endblock %}