{% extends 'AdminCommonBundle::base.html.twig' %}

{% block title %}Admin courses{% endblock %}

{% block body %}
    <div class="page-head">
        <h2>{{ 'admin.course.title'|trans }} <a href="{{ url('admin_course_new') }}" class="btn btn-space btn-primary btn-md pull-right"><i class="icon icon-left s7-plus"></i> {{ 'admin.common.field.actions.new'|trans }}</a></h2>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget widget-fullwidth widget-small">
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row am-datatable-body">
                            <div class="col-sm-12">
                                <table class="table table-striped table-fw-widget table-hover">
                                    {% include 'AdminCommonBundle:Common:Tables/head.html.twig' with {
                                        class: 'admin_course',
                                        rows: [
                                            { name: 'admin.course.field.code.title'|trans, width: 15 },
                                            { name: 'admin.course.field.name.title'|trans, width: 25 },
                                            { name: 'admin.course.field.startDate.title'|trans, width: 20 },
                                            { name: 'admin.course.field.endDate.title'|trans, width: 20 },
                                            { name: 'admin.course.field.numUsers.title'|trans, width: 5 },
                                            { name: 'admin.common.field.enabled.title'|trans, width: 5 },
                                            { name: 'admin.common.field.actions.title'|trans, width: 10 },
                                        ],
                                    } %}
                                    <tbody class="no-border-x">
                                    {% for course in courses %}
                                        <tr>
                                            <td>{{ course.code }}</td>
                                            <td><a href="{{ url('admin_course_edit', { id: course.id }) }}"><strong>{{ course.name }}</strong></a></td>
                                            <td>{{ course.startDate|date("l, jS F Y") }}</td>
                                            <td>{{ course.endDate|date("l, jS F Y") }}</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">
                                                {% include 'AdminCommonBundle:Common:Tables/enabled.html.twig' with {
                                                    enabled: course.enabled,
                                                } %}
                                            </td>
                                            <td>
                                                <div class="btn-toolbar">
                                                    <div class="btn-group btn-space">
                                                        <a href="#" class="btn btn-default btn-xs" title="{{ 'admin.common.field.actions.preview'|trans }}"><i class="icon s7-look"></i></a>
                                                        <a href="{{ url('admin_course_edit', { id: course.id }) }}" class="btn btn-default btn-xs" title="{{ 'admin.common.field.actions.edit'|trans }}"><i class="icon s7-pen"></i></a>
                                                        <a href="#" class="btn btn-default btn-xs" title="{{ 'admin.common.field.actions.duplicate'|trans }}"><i class="icon s7-copy-file"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row am-datatable-footer">
                            {% include 'AdminCommonBundle:Common:Tables/pagination.html.twig' with {
                                url: 'admin_course_list',
                                limit: limit,
                                page : page,
                                totalElements: totalElements,
                                total_pages: totalPages,
                                order_by_field: orderByField,
                                order_by_direction: orderByDirection,
                                middle_group_length: 1,
                                side_group_space_length: 1,
                            } %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}