<div class="gallery-container">
    <div class="item">
        <div class="panel panel-default panel-heading-fullwidth panel-borders">
            <div class="panel-heading"><span class="title">{{ 'wall.how_it_works.title'|trans }}</span></div>
            <div class="panel-body">
                {{ 'wall.how_it_works.text'|trans|raw }}
                <a href="#" data-modal="upload-image" class="btn btn-primary btn-block md-trigger upload-btn"><span class="s7-cloud-upload"></span><br>{{ 'instagram.button.upload.label'|trans }}</a>
            </div>
        </div>
    </div>
    {% for img in images %}
        <div class="item">
            <div class="photo">
                <div class="img">
                    <a href="#" class="md-trigger" data-modal="image-details-{{ img.id }}"><img src="{{ vich_uploader_asset(img, 'imageFile')| imagine_filter('instagram_thumb') }}" alt="{{ img.title }}"></a>
                </div>
                <div class="description">
                    <div class="icon"><a href="#" class="md-trigger" data-modal="image-details-{{ img.id }}"><i class="s7-comment"></i></a></div>
                    <div class="desc">
                        <h4>{{ img.title }}</h4>
                        <span>{{ 'instagram.by.label'|trans }} <a href="#">{{ img.user.fullName }}</a> </span>
                        <span>{{ img.createdAt|localizeddate('medium', 'none') }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% include 'WebInstagramBundle:Instagram:modals/image_details.html.twig' with {'image': img} %}
    {% endfor %}
    <div class="md-overlay"></div>
</div>