{% extends 'CommonBundle:Email:layout.html.twig' %}

{% block title %}{{ subject|trans }}{% endblock %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td valign="top" align="center">
            <p style="margin: 1em 0">
                {{ 'email.user.remember_password.hi'|trans({'%username%': user.firstName}) }}
            </p>
            <h2 style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:30px;font-weight:300;">
                {{ 'email.user.enrolment.title'|trans({'%course_name%': course.name}) }}
            </h2>
            <p style="margin: 1em 0">
                <strong>{{ 'email.user.enrolment.credentials'|trans({'%email%': user.email}) }}</strong>
            </p>
            <p style="margin: 1em 0">
              <span>{{ 'email.user.enrolment.username'|trans({'%email%': user.email}) }}</span><br>
              <span>{{ 'email.user.enrolment.password'|trans({'%password%': 'newyork2014'}) }}</span>
            </p>
            <p style="margin: 1em 0">
                <strong>{{ 'email.user.enrolment.url'|trans|raw }}</strong>
            </p>
            <p style="margin: 1em 0">
              <strong>{{ 'email.user.enrolment.warning'|trans }}</strong>
            </p>
            <p style="margin: 1em 0">
              {{ 'email.user.enrolment.change_password'|trans }}
            </p>
            <p style="margin: 1em 0">
              {{ 'email.user.enrolment.questions'|trans|raw }}
            </p>
        </td>
    </tr>
</table>
{% endblock %}
