<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Delicious Yet Beautiful">
    <meta name="author" content="Arkaitz Garro">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
    <title>{% block title %}Welcome!{% endblock %} | Delicious Yet Beautiful</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.min.css') }}"/>
</head>
<body>
<div class="am-wrapper am-fixed-sidebar am-white-header">
    {% block navbar %}
    {% include 'CommonBundle:Header:navbar.html.twig' with {nav_title: block('nav_title')} %}
    {% endblock %}
    <div class="am-left-sidebar">
        <div class="content">
            <div class="am-logo"></div>
            {% include 'CommonBundle:Menu:sidebar.html.twig' %}
        </div>
    </div>
    <div class="am-content">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#<script type="text/javascript" src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    App.init();
                });
            </script>#}
        {% endblock %}
    </div>
</div>
</body>
</html>
