{% extends 'base.html.twig' %}

{% block title %}{{ module.name }}{% endblock %}

{% block body_class %}am-aside{% endblock %}

{% block module_navigation %}
    <a href="{{ path('beloop_view_course', {'code': module.course.code}) }}"><span class="s7-angle-left"></span> {{ module.course.name }}</a>
{% endblock %}

{% block back_to %}
    <a href="{{ path('beloop_view_course', {'code': module.course.code}) }}"><span class="s7-angle-left"></span> {{ module.course.name }}</a>
{% endblock %}

{% block body %}
    <aside class="page-aside hidden-xs">
        <div class="am-scroller nano">
            <div class="nano-content">
                {{ render(controller('CourseBundle:Module:aside', {'code': course.code, 'actualModule': module.id})) }}
            </div>
        </div>
    </aside>

    <div class="main-content">
        {% block module_content %}{% endblock %}
    </div>
{% endblock %}