{% extends 'base.html.twig' %}

{% block body_class %}am-aside{% endblock %}

{% block body %}
    <aside class="page-aside">
        <div class="am-scroller nano">
            <div class="nano-content">
                <div class="panel">
                    <div class="panel-heading">
                        <h3>{{ course.name }}</h3>
                    </div>
                </div>

                <ol class="dd-list">
                    {% for lesson in course.lessons %}
                    <li class="dd-item">
                        <span class="dd-handle">{{ lesson.name }}</span>
                        <ol class="dd-list">
                        {% for module in lesson.modules %}
                            {% set active = (module.id == page.id) ? 'active' : '' %}
                            <li class="dd-item">
                                <a href="{{ path('beloop_view_module_' ~ module.type, {'code': course.code, 'id': module.id}) }}" class="dd-handle {{ active }}">{{ module.name }}</a>
                            </li>
                        {% endfor %}
                        </ol>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </aside>
    <div class="main-content">
        <iframe src="{{ page.url }}" width="100%" height="100%" frameborder="0"></iframe>
    </div>
{% endblock %}