{% extends 'base.html.twig' %}

{% block title %}{{ module.name }}{% endblock %}

{% block body_class %}am-aside{% endblock %}

{% block body %}
    <aside class="page-aside">
        <div class="am-scroller nano">
            <div class="nano-content">
                <div class="panel">
                    <div class="panel-heading">
                        <h3>{{ course.name }}</h3>
                    </div>
                </div>

                <ol class="dd-list">
                    {% for lesson in course.lessons %}
                        <li class="dd-item">
                            <span class="dd-handle text-uppercase {% if not lesson.available and not is_granted('ROLE_TEACHER') %}disabled{% endif %}">{{ loop.index0 }}. {{ lesson.name }}</span>
                            <ol class="dd-list">
                                {% for mod in lesson.modules %}
                                    {% if not lesson.available and not is_granted('ROLE_TEACHER') %}
                                        <span class="dd-handle disabled">{{ loop.parent.loop.index }}.{{ loop.index }}. {{ mod.name }}</span>
                                    {% else %}
                                        {% set active = (mod.id == module.id) ? 'active' : '' %}
                                        <li class="dd-item">
                                            <a href="{{ path('beloop_view_module_' ~ mod.type, {'code': course.code, 'id': mod.id}) }}" class="dd-handle {{ active }}">{{ loop.parent.loop.index }}.{{ loop.index }}. {{ mod.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </aside>

    <div class="main-content">
        {% block module_content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/spinner/spin.min.js') }}"></script>
{% endblock %}