{% extends 'CommonBundle:Page:page-wrapper.html.twig' %}

{% block title %}Login{% endblock %}
{% block class %}login-container{% endblock %}

{% block content %}
    {{ form_start(form, {
        attr: {
            class: 'form-horizontal',
            autocomplete: 'nope'
        }
    }) }}
    <input type="hidden" name="_target_path" value="/wall" />
    {% if error %}
        <div role="alert" class="alert alert-danger"><span class="icon s7-close-circle"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="login-form">
        <div class="form-group">
            <div class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                {{ form_widget(form.email, {
                    label: false,
                    attr: {
                        class: 'form-control',
                        placeholder: 'login.field.email.placeholder'|trans,
                        value: lastUsername
                    }
                }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                {{ form_widget(form.password, {
                    label: false,
                    attr: {
                        class: 'form-control',
                        placeholder: 'login.field.password.placeholder'|trans,
                    }
                }) }}
            </div>
        </div>
        <div class="form-group login-submit">
            <button data-dismiss="modal" type="submit" class="btn btn-primary btn-lg">{{ 'login.button.submit.text'|trans }}</button>
        </div>
        <div class="form-group footer row">
            <div class="col-xs-6"><a href="{{ path('beloop_password_remember') }}">{{ 'login.text.forgot_password'|trans }}</a></div>
            <div class="col-xs-6 text-right"><a href="{{ path('beloop_register') }}">{{ 'login.text.register'|trans }}</a></div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}