{% extends 'base.html.twig' %}

{% block body %}

    <div class="main-content">
        <div class="user-profile">
            <div class="user-display">
                <div class="photo"><img src="{{ asset('img/background-black.jpg') }}"></div>
                <div class="bottom">
                    <div class="user-avatar"><img src="{{ asset('img/avatar.jpg') }}"></div>
                    <div class="user-info">
                        <h4>{{ user.fullName }}</h4><span>{{ user.biography|default('') }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    {% include 'WebUserBundle:User:partials/about.html.twig' with { 'action': action, 'user': user } %}
                    {% if action == 'edit' %}
                        {% include 'WebUserBundle:User:modals/profile.html.twig' with { 'user': user, 'form': form} %}
                        {% include 'WebUserBundle:User:modals/password.html.twig' with { 'user': user, 'form': form} %}
                        <div class="md-overlay"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/jquery.niftymodals/css/components.min.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jquery.niftymodals/js/jquery.modalEffects.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('.md-trigger').modalEffects();

            $('#beloop_user_form_type_password').submit(function (event) {
                var inputs = $(this).find('input[type="password"]');

                if (inputs.first().val() !== inputs.last().val()) {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}