{% set user = (viewer is defined) ? viewer : user %}
{% extends 'base.html.twig' %}

{% block title %}
    {% set user = (profile is defined) ? profile : user %}
    {{ user.fullName }}
{% endblock %}

{% block body %}
    {% set user = (profile is defined) ? profile : user %}
    <div class="main-content">
        <div class="user-profile">
            <div class="user-display">
                <div class="photo"><img src="{{ asset('img/background-black.jpg') }}"></div>
                <div class="bottom">
                    <div class="user-avatar">
                        {% if action == 'edit' %}
                            <div class="hidden">{{ render(controller('WebUserBundle:User:editAvatar')) }}</div>
                            <span class="edit-avatar" data-target="#beloop_user_form_type_avatar_avatarFile_file"><span class="s7-camera"></span></span>
                        {% endif %}
                        <img class="avatar" src="{{ vich_uploader_asset(user, 'avatarFile')|default(asset('img/avatar.jpg'))|imagine_filter('profile_thumb') }}">
                    </div>
                    <div class="user-info">
                        <h4>{{ user.fullName }}</h4><span>{{ user.biography|default('') }}</span>
                    </div>
                </div>
            </div>
            <div class="gallery-container">
                <div class="item about-me">
                    {% include 'WebUserBundle:User:partials/about.html.twig' with { 'action': action, 'user': user } %}
                </div>
                {% if action == 'edit' %}
                    {% include 'WebUserBundle:User:modals/profile.html.twig' with { 'user': user, 'form': form} %}
                    {% include 'WebUserBundle:User:modals/password.html.twig' with { 'user': user, 'form': form} %}
                    <div class="md-overlay"></div>
                {% endif %}
                {% for img in user.images %}
                    <div class="item">
                        <div class="photo">
                            <div class="img">
                                <a href="#{{ vich_uploader_asset(img, 'imageFile') }}" class="md-trigger" data-modal="image-details-{{ img.id }}"><img src="{{ vich_uploader_asset(img, 'imageFile')|imagine_filter('instagram_thumb') }}" alt="{{ img.title }}"></a>
                            </div>
                            <div class="description">
                                <div class="icon"><a href="#" class="md-trigger" data-modal="image-details-{{ img.id }}"><i class="s7-comment"></i></a></div>
                                <div class="desc">
                                    <h4>{{ img.title }}</h4>
                                    <span>{{ 'instagram.by.label'|trans }} <a href="{{ path('beloop_user_view_profile', {'id': img.user.id}) }}">{{ img.user.fullName }}</a> </span>
                                    <span>{{ img.createdAt|localizeddate('medium', 'none') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'WebInstagramBundle:Instagram:modals/image_details.html.twig' with {'image': img, 'user': viewer} %}
                {% endfor %}
                <div class="md-overlay"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/jquery.niftymodals/css/components.min.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jquery.niftymodals/js/jquery.modalEffects.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/scrollTo/jquery.scrollTo.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#beloop_user_form_type_password').submit(function (event) {
                var inputs = $(this).find('input[type="password"]');

                if (inputs.first().val() !== inputs.last().val()) {
                    event.preventDefault();
                }
            });

            $('.edit-avatar').on('click', function () {
                var $target = $(this.dataset.target);

                $target.trigger('click');
                $target.off('change').on('change', function () {
                    if (window.FileReader && window.File && window.FileList && window.Blob) {
                        if (this.files[0].size/1024 > 512) {
                            alert("{{ 'profile.form.fields.avatar.error'|trans }}");
                            return;
                        }
                    }

                    var $form = $('#beloop_user_form_type_avatar');
                    var data = new FormData($form[0]);

                    $.ajax({
                        type: $form.attr('method'),
                        url: $form.attr('action'),
                        data: data,
                        processData: false,
                        contentType: false
                    }).done(function (data) {
                        if (data && data.status === 'OK') {
                            $('.avatar').each(function () {
                                this.src = data.path;
                            });
                        } else {
                            alert("{{ 'profile.form.fields.avatar.error'|trans }}");
                        }
                    });
                });
            });

            $('.instagram-feedback input').on('keypress', function (event) {
                if (event.charCode === 13) {
                    var value = this.value;

                    $.post(this.dataset.target, {
                        'image': this.dataset.image,
                        'comment': value
                    }).done(function (data) {
                        $('.md-instagram-modal .comments').append(data).scrollTo('100%');
                    });

                    this.value = '';
                }
            });
        });
    </script>
{% endblock %}