{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-head">
        <h2>{{ 'menu.my_courses.title'|trans }}</h2>
    </div>

    <div class="main-content">
        <div class="row">
            {% for course in courses %}
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default panel-heading-fullwidth panel-course">
                        <div class="panel-heading">
                            {% if not course.available %}
                                <span class="title">{{ course.name }}</span>
                            {% else %}
                                <a href="{{ path('beloop_view_course', {'code': course.code}) }}" class="title">{{ course.name }}</a>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {% if course.imageName|length > 0 %}
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <img src="{{ vich_uploader_asset(course, 'imageFile') }}" alt="{{ course.name }}" class="img-responsive" />
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ course.description | raw }}
                                        {% if not course.available %}
                                            <strong>{{ 'course.course_not_available.text'|trans({'%date%' : course.startDate|localizeddate('medium', 'none')}) }}</strong>
                                        {% else %}
                                            <a href="{{ path('beloop_view_course', {'code': course.code}) }}" class="btn btn-block btn-alt4">
                                                <span class="icon-container">
                                                    <span class="icon"><span class="s7-angle-right"></span></span>
                                                </span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                {{ course.description | raw }}
                                {% if not course.available %}
                                    <strong>{{ 'course.course_not_available.text'|trans({'%date%' : course.startDate|localizeddate('medium', 'none')}) }}</strong>
                                {% else %}
                                    <a href="{{ path('beloop_view_course', {'code': course.code}) }}" class="btn btn-block btn-alt4">
                                        <span class="icon-container">
                                            <span class="icon"><span class="s7-angle-right"></span></span>
                                        </span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}