{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.public_courses.title'|trans }}{% endblock %}

{% block body %}
    <div class="page-head">
        <h2>{{ 'menu.public_courses.title'|trans }}</h2>
    </div>

    <div class="main-content">
        <div class="row course-container">
            <div class="col-xs-12 col-sm-6 item">
                <div class="panel panel-default panel-heading-fullwidth">
                    <div class="panel-heading"><span class="title">{{ 'preview.courses.title'|trans }}</span></div>
                    <div class="panel-body">
                        {{ 'preview.courses.text'|trans|raw }}
                    </div>
                </div>
            </div>
            {% for course in courses %}
                <div class="col-xs-12 col-sm-6 item">
                    <div class="panel panel-default panel-heading-fullwidth panel-course">
                        <div class="panel-heading">
                            {% if course.available or is_granted('ROLE_TEACHER') %}
                                <a href="{{ path('beloop_view_course', {'code': course.code}) }}" class="title">{{ course.name }}</a>
                            {% else %}
                                <span class="title">{{ course.name }}</span>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {% if course.imageName|length > 0 %}
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <img src="{{ vich_uploader_asset(course, 'imageFile') }}" alt="{{ course.name }}" class="img-responsive" />
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        {{ course.description | raw }}
                                        {% if course.available or is_granted('ROLE_TEACHER') %}
                                            <a href="{{ path('beloop_view_course', {'code': course.code}) }}" class="btn btn-block btn-alt4">
                                                <span class="icon-container">
                                                    <span class="icon"><span class="s7-angle-right"></span></span>
                                                </span>
                                            </a>
                                        {% else %}
                                            <strong>{{ 'course.course_not_available.text'|trans({'%date%' : course.startDate|localizeddate('medium', 'none')}) }}</strong>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                {{ course.description | raw }}
                                {% if course.available or is_granted('ROLE_TEACHER') %}
                                    <a href="{{ path('beloop_view_course', {'code': course.code}) }}" class="btn btn-block btn-alt4">
                                        <span class="icon-container">
                                            <span class="icon"><span class="s7-angle-right"></span></span>
                                        </span>
                                    </a>
                                {% else %}
                                    <strong>{{ 'course.course_not_available.text'|trans({'%date%' : course.startDate|localizeddate('medium', 'none')}) }}</strong>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/masonry/masonry.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/masonry/imagesloaded.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            // Masonry
            App.pageGallery();
        });
    </script>
{% endblock %}
