{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block back_to %}
    <a href="{{ path('beloop_public_courses') }}"><span class="s7-angle-left"></span> {{ 'menu.public_courses.title'|trans }}</a>
{% endblock %}

{% block body %}
    <div class="page-head">
        <h2>{{ course.name }}</h2>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="sections">
                    {% for lesson in course.lessons %}
                        <div class="panel-group accordion accordion-color">
                            <div class="panel panel-default {% if not lesson.isDemo() %}panel-transparent panel-borders{% endif %}">
                                <div class="panel-heading">
                                    <h4 class="panel-title">{{ lesson.name }}</h4>
                                </div>
                                <div class="panel-body">
                                    {% if lesson.isDemo() %}
                                        {% for module in lesson.modules %}
                                            {% if module.isEnabled() %}
                                                <a href="{{ path('beloop_view_module_' ~ module.type, {'code': course.code, 'id': module.id}) }}" class="module"><span class="s7-{{ module.icon }}"></span> {{ module.name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <span>{{ 'preview.lesson_not_available.text'|trans }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="hidden-xs hidden-sm col-md-4">
                <h4 class="text-uppercase">{{ 'course.description.title'|trans }}</h4>
                {{ course.description|raw }}
                <h4 class="text-uppercase">{{ 'course.teachers.title'|trans }}</h4>
                <p class="clearfix">
                    {% for user in course.getTeachers %}
                    <span class="s7-study"></span>
                    <a href="{{ path('beloop_user_view_profile', {'id': user.id}) }}">{{ user.fullName }}</a><br />
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
