<nav class="navbar navbar-default navbar-fixed-top am-top-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="page-title">
                <span>Delicious Yet Beautiful</span>
            </div>
            <a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a>
            <span class="navbar-brand"></span>
        </div>
        <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
        <div id="am-navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right am-user-nav">
                <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img src="{{ asset('img/avatar.jpg') }}"><span class="user-name">{{ user.fullName }}</span><span class="angle-down s7-angle-down"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{ path('beloop_user_profile') }}"> <span class="icon s7-user"></span>{{ 'menu.my_profile.title'|trans }}</a></li>
                        <li><a href="{{ path('beloop_logout') }}"> <span class="icon s7-power"></span>{{ 'menu.logout.title'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav am-nav-right">
                <li>
                    <a href="#">Back to somewhere</a>
                </li>
            </ul>
        </div>
    </div>
</nav>