{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-head">
        <h2>{{ 'menu.my_results.title'|trans }}</h2>
    </div>

    <div class="main-content">
        <div class="row">
            {% for course in courses %}
                <div class="col-xs-12">
                    <div class="widget line-chart">
                        <div class="widget-head"><span class="title">{{ course.name }}</span></div>
                        <div class="chart-container">
                            <div id="chart-{{ course.code }}" style="height:250px;">
                            </div>
                            <div class="chart-table">
                                <table class="table table-striped">
                                    <thead class="primary">
                                    <tr>
                                        <th>{{ 'typeform.results.title'|trans }}</th>
                                        <th>{{ 'typeform.results.score'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody class="no-border-x">
                                    {% for quiz in quizzes[course.code]  %}
                                    <tr>
                                        <td>{{ quiz.name }}</td>
                                        <td class="number">{{ scores[course.code][quiz.uid]|default('-') }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        {% for course in courses %}
        new Morris.Bar({
            element: 'chart-{{ course.code }}',
            data: [
            {% for quiz in quizzes[course.code]  %}
                { lesson: '{{ quiz.name }}', value: {{ scores[course.code][quiz.uid]|default(0) }} },
            {% endfor %}
            ],
            xkey: 'lesson',
            ykeys: ['value'],
            labels: ["{{ 'typeform.results.score'|trans }}"],
            barColors: ['#743c01']
        });
        {% endfor %}
    </script>
{% endblock %}