{% extends 'AdminCommonBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="beloop-admin">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/dist/static/js/manifest.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/dist/static/js/vendor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/dist/static/js/app.min.js') }}"></script>
{% endblock %}
