{% for lesson in lessons %}
    <div class="panel panel-default panel-heading-fullwidth panel-borders panel-lesson" data-id="{{ lesson.id }}">
        <div class="panel-heading">
            <div class="tools"><a href="#lesson-{{ lesson.id }}" data-action="edit-lesson"><span class="icon s7-pen"></span></a><span class="icon s7-trash"></span></div><span class="title">{{ lesson.name }}</span>
        </div>
        <div class="panel-body">
            <div class="lesson-view">
                {{ lesson.description|raw }}
                <p>{{ 'admin.lesson.field.start_date.title'|trans }}: <strong>{{ lesson.startDate|date("l, jS F Y") }}</strong></p>
            </div>
            <div class="hidden lesson-edit">
                {{ render(controller('AdminCourseBundle:Lesson:edit', {'id': lesson.id})) }}
            </div>
        </div>
    </div>
{% endfor %}
