{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% set form_method = (method == 'GET' ? method : 'POST') %}
        {% set attr = attr|merge({ class: 'form-horizontal' }) %}
        <form role="form"
              id="{{ form.vars.name }}"
              name="{{ form.vars.name }}"
              method="{{ form_method|lower }}"
              action="{{ action }}"
              autocomplete="off"
        {% for attrname, attrvalue in attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}
        {% if multipart %}
            enctype="multipart/form-data"
        {% endif %}
        >
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block form_row %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('form-group'))|trim}) %}
        <div class="{{ attr.class }}">
            {{ form_label(form) }}
            <div class="col-sm-10">
                {{ form_widget(form) }}
                {% if help_label %}
                    {{ block('help_label') }}
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block help_label -%}
    <span class="help-block">{{ help_label|trans|raw }}</span>
{%- endblock help_label -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ 'col-sm-2 control-label')|trim}) %}

        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }) %}
        <input type="{{ type }}" {{ block('widget_attributes') }}
                {% if value is not empty %}
                    value="{{ value }}"
                {% endif %}
        />
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim }) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="switch-button switch-button-yesno switch-button-sm">
            <input type="checkbox" {{ block('widget_attributes') }}
                   value="{{ value|default(1) }}"
                    {% if checked is defined and checked %}checked="checked"{% endif %}
            >
            <span><label for="{{ id }}"></label></span>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if show_download_link and download_uri is defined and download_uri%}
                <a href="{{ download_uri }}" target="_blank">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}