<div class="media">
    <div class="media-left">
        <a href="{{ path('beloop_user_view_profile', {'id': comment.user.id}) }}">
            <img class="media-object" src="{{ vich_uploader_asset(comment.user, 'avatarFile')|default(asset('assets/img/avatar.jpg'))|imagine_filter('profile_mini_thumb') }}" alt="{{ comment.user.fullName }}">
        </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading"><a href="{{ path('beloop_user_view_profile', {'id': comment.user.id}) }}">{{ comment.user.fullName }}</a></h5>
        <span>{{ comment.text}}</span>
    </div>
</div>
